manifest {
    /* Homepage of project */
    homePage = 'https://github.com/lakinsm/summit-assembly'

    /* Description of project */
    description = 'IDBA-UD assembly of shotgun metagenomic data on Summit HPC server'

    /* Main pipeline script */
    mainScript = 'test.nf'

    /* Default repository branch */
    defaultBranch = 'master'
}

env {
    /* Location of trimmomatic jar file */
    TRIMMOMATIC = '/opt/Trimmomatic-0.36'
}

singularity {
    /* Enables Singularity container execution by default */
    enabled = true
    cacheDir = "$PWD"
    /* Enable auto-mounting of host paths (requires user bind control feature enabled */
    autoMounts = true
}

params {
    /* Location of forward and reverse read pairs */
    reads = "containers/data/raw/*_R{1,2}_001.fastq.gz"

    /* Location of adapter sequences */
    adapters = "containers/data/adapters/nextera.fa"

    /* Location of tab delimited adapter sequences */
    fqc_adapters = "containers/data/adapters/nextera.tab"

    /* Location of host genome index files */
    host_index = ""

    /* Location of host genome */
    host = "containers/data/host/chr21.fasta"
 
    /* Location of amr index files */
    amr_index = ""

    /* Location of antimicrobial resistance (AMR) database */
    amr = "containers/data/amr/megares_database_v1.01.fasta"

    /* Location of amr annotation file */
    annotation = "containers/data/amr/megares_annotations_v1.01.csv"

    /* Output directory */
    output = ""

    /* Number of threads */
    threads = 12

    /* Trimmomatic trimming parameters */
    leading = 10
    trailing = 3
    slidingwindow = "4:15"
    minlen = 36

    /* Resistome threshold */
    threshold = 80

    /* Starting rarefaction level */
    min = 5

    /* Ending rarefaction level */
    max = 100

    /* Number of levels to skip */
    skip = 5

    /* Number of iterations to sample at */
    samples = 1

    /* Display help message */
    help = false
}



profiles {
  slurm {
    singularity.enabled = true
    singularity.cacheDir = "$PWD"
    process.executor='slurm'
    process.container = 'shub://EnriqueDoster/MEG-summit-assembly:latest'
  }
}

process {
  withName:RunQC {
      maxForks=1
      process.mem = '20000'
      process.time = '15:00:00'
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name=runQC%j --qos=normal '
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:QCStats {
      maxForks=1
      process.mem = '20000'
      process.time = '01:00:00'
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name=QC_stats%j --qos=normal'
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:BuildHostIndex {
      maxForks=1
      process.mem = '20000'
      process.time = '01:00:00'
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name=host_index%j --qos=normal'
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:BuildAMRIndex {
      maxForks=1
      process.mem = '1000'
      process.time = '01:00:00'
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name=AMR_index%j --qos=normal'
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:DedupReads {
      maxForks=1
      process.mem = '20000'
      process.time = '20:00:00'
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name=dedup%j --qos=normal'
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:AlignReadsToHost {
      maxForks=1
      process.mem = '20000'
      process.time = '20:00:00'
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name=AlignHost%j --qos=normal'
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:RemoveHostDNA  {
      maxForks=1
      process.mem = '20000'
      process.time = '20:00:00'
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name=RMHost%j --qos=normal'
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:HostRemovalStats {
      maxForks=1
      process.mem = '20000'
      process.time = '01:00:00'
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name=hoststats%j --qos=normal'
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:BAMToFASTQ {
      maxForks=1
      process.mem = '20000'
      process.time = '20:00:00'
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name=AMR_index --qos=normal'
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:AssembleReads{
      maxForks=1
      process.mem = '50000'
      process.time = '20:00:00'
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name=AMR_index --qos=normal'
      module='jdk/1.8.0:singularity/2.5.2'
  }
}
