singularity {
    /* Enables Singularity container execution by default */
    enabled = true
    cacheDir = "$PWD"
    /* Enable auto-mounting of host paths (requires user bind control feature enabled */
    autoMounts = true
}

env {
    /* Location of trimmomatic jar file */
    TRIMMOMATIC = '/opt/Trimmomatic-0.36'
    /* Location of Java */
    JAVA = '/usr/lib/jvm/java-7-openjdk-amd64/bin/java'
    BBMAP_JAVA= "/usr/local/bbmap/jni/"
    BBMAP_current = "/usr/local/bbmap/current/"
}


process {
  process.executor='slurm'
  process.container = 'shub://EnriqueDoster/MEG-summit-assembly:latest'
  maxForks = 1                 // The maximum number of forks a single process is allowed to spawn
  withName:RunQC {
      process.mem = '20000'
      process.time = '15:00:00'
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name=QC%j --qos=normal '
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:QCStats {
      process.mem = '20000'
      process.time = '01:00:00'
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name=QCstats%j --qos=normal'
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:BuildHostIndex {
      process.time = '05:00:00'
      process.qos='normal'
      clusterOptions='--job-name=hostindex%j --qos=normal --partition=smem'
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:BuildAMRIndex {
      process.mem = '10000'
      process.time = '02:00:00'
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name=AMRindex%j --qos=normal'
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:DedupReads {
      process.time = '20:00:00'
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name=dedup%j --qos=normal  --partition=smem'
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:AlignReadsToHost {
      process.time = '20:00:00'
      process.qos='normal'
      clusterOptions='--job-name=AlignHost%j --qos=normal --partition=smem'
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:RemoveHostDNA  {
      process.mem = '20000'
      process.time = '20:00:00'
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name=RMHost%j --qos=normal'
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:HostRemovalStats {
      process.mem = '20000'
      process.time = '01:00:00'
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name=hoststats%j --qos=normal'
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:BAMToFASTQ {
      process.mem = '20000'
      process.time = '20:00:00'
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name=BAMFastq%j --qos=normal'
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:AssembleReads{
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name=assembly%j --qos=normal'
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:HMM_amr {
      process.time = '23:59:00'
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name=HMM_amr%j --qos=normal'
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:AlignToContigs {
      process.time = '23:59:00'
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name=bwa_contig%j --qos=normal'
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:HMMcontig_count {
      process.time = '23:59:00'
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name=HMMcount%j --qos=normal'
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:AlignToAMR {
      process.time = '23:59:00'
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name=alignAMR%j --qos=normal'
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:RunResistome {
      process.time = '23:59:00'
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name=resistome%j --qos=normal'
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:RunFreebayes {
      process.time = '23:59:00'
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name=freebayes%j --qos=normal'
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:RunRarefaction {
      process.time = '23:59:00'
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name=rarefaction%j --qos=normal'
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:RunSNPFinder {
      process.mem = '20000'
      process.time = '20:00:00'
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name=SNPfinder%j --qos=normal'
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:AMRLongToWide {
      process.mem = '20000'
      process.time = '20:00:00'
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name=LtoWide%j --qos=normal'
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:SNPAlignToAMR {
      process.time = '23:59:00'
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name=SNPAlignToAMR%j --qos=normal'
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:SNPRunResistome {
      process.time = '23:59:00'
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name=SNPresistome%j --qos=normal'
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:SNPRunRarefaction {
      process.time = '23:59:00'
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name=SNPrarefaction%j --qos=normal'
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:SNPconfirmation {
      process.time = '23:59:00'
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name=SNPconfirmation%j --qos=normal'
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:SNPgene_alignment {
      process.time = '23:59:00'
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name=SNPalignment%j --qos=normal'
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:SNPRunFreebayes {
      process.time = '23:59:00'
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name=SNPfreebayes%j --qos=normal'
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:SNPRunSNPFinder {
      process.time = '23:59:00'
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name=SNPsnpfinder%j --qos=normal'
      module='jdk/1.8.0:singularity/2.5.2'
  }
  withName:SNPAMRLongToWide {
      process.time = '05:00:00'
      process.partition = 'shas'
      process.qos='normal'
      clusterOptions='--job-name= --qos=normal'
      module='jdk/1.8.0:singularity/2.5.2'
  }

}
